.btn-hero{
    background-color: #e02041;
    color: white;
    transition: filter 0.2s;
}

.btn-hero:hover{
    filter: brightness(90%);
    color: white;
}

.btn-outline-hero{
    background-color: transparent;
    color: #e02041;
    border: 1px solid #e02041;
    transition: background-color 0.2s;
}

.btn-outline-hero:hover{
    color: #e02041;
    background-color: rgba(224, 32, 65, 0.15);
}

body{
    background: #ecf0f1;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
